extends layout


block content
    head
        link(rel='stylesheet', href='/stylesheets/fullcalendar.css')
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/fullcalendar.js')
    #calendar
    script.

        var dateObj;
        
        $(document).ready(function() {
            $('#calendar').fullCalendar({

                dayClick: function(date, resourceObj) {
                console.log(Object.keys(resourceObj));        
                window.open('/notes','_self');
                
                }
            // put your options and callbacks here
            });
        });
