doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        #mySidenav.sidenav
            a(href='/' style="color:orange;font-weight:bold") Notee
            a(href='/calendar') Calendar
            a(href='/notes') Notes
            a(href='/settings') Settings

  body
    block content
